/*Dependent Class, it depends on tag*/
body.content {
  background-color: darkslategrey;
}

body.home {
  background-color: darkslategrey;
  min-width: 1080px;
  max-width: 1500px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border: 2px;
  border-style: solid;
}

header.border_patrol {
  border-style: solid;
  border-color: floralwhite;
  border-width: 2px 2px;
}

h1.title1 {
  background-color: rgb(21, 26, 31);
  color: aliceblue;
  text-align: center;
  line-height: 50px;
  color: whitesmoke;
  border-style: double;
  border-width: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

h1.bio_title {
  background-color: rgb(21, 26, 31);
  color: aliceblue;
  font-family: "Cormorant", "Garamond", "caveat", "Segoe UI", sans-serif;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: normal;
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
  border-style: double;
  border-width: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

h2.subtitle {
  background-color: rgb(21, 26, 31);
  color: aliceblue;
  text-align: center;
  line-height: 25px;
  color: rgb(182, 118, 118);
  border-style: double;
  border-width: 5px;
  margin-left: 8px;
  margin-right: 8px;
}

h2.subtitle1 {
  background-color: rgb(21, 26, 31);
  color: aliceblue;
  text-align: center;
  line-height: 32px;
  color: rgb(182, 118, 118);
  border-style: double;
  border-width: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

h2.bio1 {
  color: rgb(182, 118, 118);
  font-size: 35px;
}

h2.noone {
  margin-top: 5px;
  margin-left: 10px;
}

h2.changes {
  margin-top: 500px;
  margin-left: 10px;
}

h3 {
  font-size: 45px;
  color: rgb(59, 46, 46);
}

main.music {
  background-color: rgb(45, 47, 49);
  column-count: 2;
  font-family: "caveat", "Segoe UI", sans-serif;
  font-size: 20px;
  color: whitesmoke;
  border-style: double;
  padding-top: 2px;
}

main.poems {
  background-color: rgb(45, 47, 49);
  column-count: 4;
  column-width: 5px;
  font-family: "caveat", "Segoe UI", sans-serif;
  font-size: 20px;
  color: whitesmoke;
  border-style: double;
  padding-top: 35px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

p.poems2,
ul.poems2 {
  font-family: "Cormorant", "Garamond", "caveat", "Segoe UI", sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: normal;
  /* margin-right: 5px;
  margin-left: 5px; */
}

.poems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.poetry-column {
  width: 20%;
}

.poetry {
  color: darkturquoise;
  font-size: 35px;
}

main.bio {
  background-color: darkslategrey;
  font-family: "caveat", "Segoe UI", sans-serif;
  font-size: 21px;
  column-count: 1;
  column-width: 200px;
  padding-top: 10px;
  padding-bottom: 175px;
  color: rgb(18, 18, 119);
}

h2.homepg {
  color: rgb(170, 217, 218);
}

p.homepg {
  font-family: "Cormorant", "Garamond", "caveat", "Segoe UI", sans-serif;
  font-size: 19.5px;
  line-height: 18px;
  letter-spacing: normal;
  margin-right: 5px;
  margin-left: 8px;
  color: darkturquoise;
  padding-top: 50px;
}

cite {
  color: rgb(143, 123, 45);
  font-size: 18px;
  font-style: normal;
}

div.img {
  float: left;
  position: static;
  text-align: center;
  margin-bottom: 150px;
}

figcaption {
  color: darkturquoise;
  font-style: normal;
}

/*pseudo-classes*/

main p:first-of-type {
  color: azure;
}

/* video */

video {
  width: 30%;
  padding: 10px;
  margin-left: 285px;
  margin-right: 285px;
  margin-top: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
  box-shadow: 20px 20px 40px #700b0b;
}

audio {
  padding-left: 200px;
  padding-bottom: 15px;
}

p.songs {
  font-family: "Cormorant", "Garamond", "caveat", "Segoe UI", sans-serif;
  font-size: 19.5px;
  line-height: 18px;
  letter-spacing: normal;
  margin-right: 5px;
  margin-left: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 10px 10px 10px #700b0b;
  border: solid 1px #700b0b;
  background-color: white;
  width: 500px;
  height: 500px;
  margin: 100px;
  margin-top: 2px;
}

.col {
  background-color: black;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

h2.noone {
  margin-top: 5px;
  margin-left: 10px;
  color: rgb(170, 217, 218);
  font-size: 45px;
}

h2.changes {
  margin-top: 500px;
  margin-left: 10px;
  color: rgb(170, 217, 218);
  font-size: 45px;
}

/* Table */

.table {
  border: 3px solid rgb(18, 18, 119);
  border-collapse: collapse;
  /* width: 25%; */
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 50px;
}
td,
th {
  padding: 0.3rem;
  border-bottom: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  text-align: center;
  color: rgb(114, 114, 179);
  background-color: rgb(45, 47, 49);
}
tfoot tr:last-child td {
  border-bottom: none;
}
caption {
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  color: rgb(9, 9, 44);
}
th {
  text-align: left;
  background-color: rgb(52, 65, 78);
  color: white;
}
thead tr:first-child,
thead tr:first-child th {
  background-color: #bd6f48;
  text-align: center;
  border-left: 1px solid white;
  font-size: 1.3ren;
}

p.lang {
  font-size: 18px;
  margin-left: 275px;
  margin-right: 275px;
}

/* --------- Navigation ---------- */

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  text-align: center;
  font-family: "Cormorant", "Garamond", "caveat", "Segoe UI", sans-serif;
  font-size: 18px;
  border: none;
  text-decoration: none;
}

nav a:link {
  background-color: rgb(40, 65, 90);
}
nav a:visited {
  color: aliceblue;
}

nav a:hover {
  background-color: rgb(58, 42, 42);
}

nav a:focus {
  background-color: rgb(80, 16, 16);
}

nav a:active {
  background-color: rgb(25, 46, 25);
}

nav ul a {
  text-align: center;
  text-decoration: none;
  list-style: none;
}

nav ul li {
  border: none;
  padding: 15px 30px;
  display: inline-block;
}
/* ---------- End Navagation ---------- */

/* Footer */

footer.copyright {
  background-color: rgb(21, 26, 31);
  color: aliceblue;
  line-height: 1;
  color: whitesmoke;
  border-style: double;
}

footer.copyright1 {
  background-color: rgb(21, 26, 31);
  color: aliceblue;
  line-height: 1px;
  color: whitesmoke;
  border-style: double;
  text-align: left;
}

p.footer,
address.footer {
  margin-left: 10px;
}

/* Contact Form */

form {
  color: aliceblue;
  margin-left: 32%;
  margin-right: 35%;
  margin-top: 15px;
  margin-bottom: 15px;
  list-style-type: none;
  padding: 20px;
  border: 5px solid rgb(44, 47, 49);
  border-radius: 40px;
  box-sizing: content-box;
  width: 35%;
}
.order {
  text-align: center;
}
Label {
  display: inline-block;
  text-align: left;
  font-size: 18px;
}
input[type="text"],
input[type="email"],
input[type="phone"] {
  width: 75%;
}
input[type="radio"],
input[type="checkbox"] {
  width: 5%;
}
input:valid {
  border: 2px solid green;
}
input:invalid {
  border: 2px dashed rgb(99, 35, 35);
}
fieldset {
  border: 2px solid rgb(81, 105, 129);
  padding: 1px 1px 1px 1px;
  margin-top: 3%;
  margin-right: 25%;
  margin-bottom: 2%;
}
textarea {
  height: 150px;
  width: 350px;
  overflow: hidden;
}

/* End of Final */

/*Independanct classes, can be applied to any tag*/

.highlight {
  background-color: rgb(79, 117, 148);
}

/* IPads and Tablets */

@media (max-width: 768px) {
  body.content {
    background-color: rgb(189, 206, 206);
  }

  body.home {
    background-color: rgb(189, 206, 206);
    min-width: 768px;
    max-width: 768px;
  }

  p.poems2,
  ul.poems2 {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: normal;
    padding-left: 5px;
  }

  .poems {
    display: flex;
    flex-wrap: wrap;
  }

  .poetry-column {
    width: 25%;
  }

  .me {
    width: 125%;
    height: 100%;
  }

  .poetry {
    color: darkturquoise;
    font-size: 45px;
  }

  main p:first-of-type {
    color: azure;
  }

  p.lang {
    background-color: rgb(11, 54, 54);
    margin: 20%;
    margin-top: 5%;
  }

  /* video */

  video {
    width: 40%;
    margin-left: 230px;
  }

  audio {
    padding-left: 10px;
  }

  p.songs {
    font-size: 17px;
    margin-right: 5px;
    margin-left: 8px;
  }

  .music {
    display: flex;
    flex-wrap: wrap;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1px;
    margin: 2px;
    margin-top: 2px;
  }

  .col {
    background-color: black;
    margin: auto;
    overflow: hidden;
    text-align: center;
  }

  h2.noone {
    margin-left: 10px;
    font-size: 28px;
    padding-left: 15px;
  }

  h2.changes {
    width: 70%;
    margin-top: 5%;
    margin-left: 10px;
    font-size: 28px;
  }

  .bottom-container {
    margin-bottom: 5%;
  }

  /* Contact Form */

  form {
    color: aliceblue;
    margin-left: 120px;
    padding: 15px;
    width: 60%;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* Smartphones */

@media (max-width: 425px) {
  body.content {
    background-color: rgb(124, 164, 238);
  }

  body.home {
    background-color: rgb(124, 164, 238);
    min-width: 375px;
    max-width: 812px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    width: 65%;
  }

  .homepg_img img {
    width: 100%;
  }

  p.poems2,
  ul.poems2 {
    font-family: "Cormorant", "Garamond", "caveat", "Segoe UI", sans-serif;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: normal;
  }

  main.bio {
    font-size: 21px;
    column-count: 1;
    column-width: 2px;
    padding-top: 10px;
    padding-bottom: 175px;
  }

  p.homepg {
    color: turquoise;
    margin-top: 10%;
  }

  .homepg_body {
    display: flex;
    flex-wrap: wrap;
  }

  div.img {
    margin-bottom: 30px;
  }

  figcaption {
    color: turquoise;
    font-style: normal;
  }

  main p:first-of-type {
    color: azure;
  }

  /* video */

  video {
    width: 50%;
    margin-left: 25%;
  }

  audio {
    padding-left: 10px;
  }

  p.songs {
    font-size: 17px;
    margin-right: 5px;
    margin-left: 8px;
  }

  .music {
    display: flex;
    flex-wrap: wrap;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    box-shadow: 10px 10px 10px #700b0b;
    border: solid 0.5px #700b0b;
    background-color: white;
    height: 50%;
    grid-gap: 1px;
    margin: 2px;
    margin-top: 2px;
  }

  .poems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .poetry-column {
    width: 80%;
  }

  .poetry {
    font-size: 32px;
  }

  .poems div {
    margin-bottom: 0;
  }

  li {
    margin-left: 50px;
  }

  .cite {
    margin-left: 50px;
  }

  .col {
    background-color: black;
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
  }

  .col img {
    width: 50%;
    height: 50%;
  }

  h2.noone {
    width: 70%;
    margin-bottom: 2px;
    font-size: 28px;
    padding-left: 2px;
  }

  h2.changes {
    width: 70%;
    margin-top: 5%;
    margin-bottom: 2px;
    margin-left: 10px;
    font-size: 28px;
  }

  .bottom-container {
    margin-bottom: 5%;
  }

  /* Table */

  p.lang {
    background-color: rgb(11, 54, 54);
    margin: 5%;
    margin-top: 5%;
  }

  /* Contact Form */

  form {
    color: aliceblue;
    margin-left: 5%;
    padding: 15px;
    width: 80%;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  fieldset {
    border: 2px solid rgb(81, 105, 129);
    padding: 1px 1px 1px 1px;
    margin-top: 3%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  textarea {
    height: 150px;
    width: 250px;
    overflow: hidden;
  }
}
